.home {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.home > h1 {
  font-size: 6.5rem;
}

.homeButtons {
  display: flex;
  margin: 1.5rem;
  flex-flow: row;
  justify-content: space-between;
}

.homeButtons > button {
  font-size: 1.5rem;
  margin: 2rem;
  width: 10rem;
}
